hr {
    border-style: solid;
    background-color: black;
    height: 2px;
}

body {
    background-image: url(https://static.wixstatic.com/media/f7bda3_73f72fe0437e435b997e99180fcbfcd1~mv2.png/v1/fill/w_1175,h_661,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/f7bda3_73f72fe0437e435b997e99180fcbfcd1~mv2.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    color: black;
    height: 100%;
}

img {
    height: 800px;
    width: 600px;
}

hr {
    margin: 0px;
    border-top: 2px solid aliceblue;
}

.heading1 {
    font-family: 'Signika Negative', sans-serif;
    color: whitesmoke;
    font-size: 2em;
    margin: 0px;
    padding-top: 50px;
}

h2 {
    color: whitesmoke;
    font-family: 'Sacramento', cursive;
    margin: 0px;
    padding-bottom: 40px;
}


h3 {
    color: #F6DCBF;
    font-family: 'Teko', sans-serif;
}

.upper {
    background-color: rgb(101, 21, 21);
    margin-top: 0px;
    font-size: 22px;
}

.bottom {
    margin: 0;
    height: 100vh;

}

.h11 {
    padding: 40px 0px 0px 30px;
    font-size: 40px;
    color: lawngreen;
}

.movstic1 {
    margin: 0px;
    padding: 50px 0px 0px 100px;
    height: 150px;
    width: 150px;
    float: left;
}

.movstic2 {
    float: right;
    margin: 0px;
    padding: 50px 100px 0px 0px;
    height: 150px;
    width: 150px;
}

a{
    color: #F7FD04;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
li{
    color: #F7FD04;
    font-weight: bold;
}
.revhead{
    color: whitesmoke;
    background-color: rgb(101, 21, 21);
    margin: 0px;
    padding: 10px 0px 15px 0px;
    font-size: 25px;
}
table{
    color: azure;
    font-weight: bold;
    font-size: 15px;
}
p{
    color: azure;
    font-weight: bold;
    font-size: 15px;
}
h4{
    color: azure;
    font-weight: bold;
    font-size: 25px;

}